:root {
    --light-on-dark-color: ghostwhite;
    --light-on-dark-accent: #61647a;
    --dark-bg-color: black;
    --dark-bg-accent: #333744;

    --accent-font: 'Crimson Text', serif;
}

html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #304352;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #3A3633, #BFABA0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #3A3633, #BFABA0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-position: center bottom;
    background-image: url("../image/eberhard-grossgasteiger-521851.jpg");
    /* Photo by eberhard grossgasteiger on Unsplash */
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.wrapper {
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-x: hidden;
}

.wrapper header {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper header h1 {
    font-size: 70px;
    font-family: var(--accent-font);
    font-weight: 400;
    margin: 0;
    padding: 15px 15px 15px 45px;
} 

.wrapper .title a {
    text-decoration: none;
    color: inherit;
}

.wrapper header nav {
    margin-right: 25px;
}

.wrapper main {
    box-shadow: inset 0px 6px 8px -8px rgba(0, 0, 0, 0.75);

    overflow-y: scroll;

    border-top: 1px solid rgba(0,0,0,0.5);
    padding: 0px 45px 50px 45px;
    flex: 1;
}

.wrapper footer {

    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 659px) {
    .wrapper header {
        flex-direction: column-reverse;
        align-items: stretch;
        justify-content: flex-end;
    }
    .wrapper header h1 {
        margin: 0;
        padding: 10px;
        align-self: center;
    }
    .wrapper header nav {
        margin: 0;
    }
}

/* 
 *  Contact Link CSS Rules
 */

.contact {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 8px;
    padding-right: 17px;

    color: var(--light-on-dark-color);
    font-family: var(--accent-font);
}

.contact > * {
    padding: 4px 9px 4px 9px;
    margin: 0;
    background-color: var(--dark-bg-color);
}

.contact > *:first-child {
    border-radius: 5px 0 0 5px;    
    padding-right: 0;
}

.contact>*:last-child {
    border-radius: 0 5px 5px 0;
    padding-left: 0;
}

.contact .link {
    display: inline-block;
    width: 67px;
    text-align: center;
    transition: width 0.2s ease-in-out;
}

.contact .link a {
    text-decoration: none;
    color: var(--light-on-dark-color);
}

.contact .link.link-active {
    animation: link-font-fade 0.4s;
    width: 154px;
}

@media screen and (max-width: 470px) {
    .contact {
        padding-right: 0;
    }
}

@keyframes link-font-fade {
    0% {
        color: var(--light-on-dark-color);
    }
    50% {
        color: var(--dark-bg-color);
    }
    100% {
        color: var(--light-on-dark-color);
    }
}
