/* 
 * Nav CSS Rules
 */

.nav__items a {
    outline: 0;
}

@media screen and (max-width: 659px) {
    .nav__background {
        display: none;
    }
    .nav__items {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0;
        padding: 0; 
        background-color: var(--dark-bg-color);
    }
    .nav__items li {
        list-style: none;
        padding: 10px 0;
    }
    .nav__items>li {
        flex-basis: 140px;
        text-align: center;
    }
    .nav__items>li>a {
        color: var(--light-on-dark-color);
        font-weight: 700;
        text-decoration: none;
    }

    .nav__items>li>a:focus::before, .nav__items>li:hover>a::before {
        content: "[ "
    }

    .nav__items>li>a:focus::after, .nav__items>li:hover>a::after {
        content: " ]"
    }

    .nav__items li:hover {
        background-color: var(--dark-bg-accent);
    }
    
    .nav__dropdown {
        display: none;
        transition: all 0.2 ease-in-out;
    }
    .nav__items li:hover>.nav__dropdown {
        display: block;
        position: absolute;
        top: 2.4em;
        left: 0px;
        margin: 0;
        padding: 0;
        width: 100vw;
        text-align: left;
        color: var(--light-on-dark-color);
        background-color: var(--dark-bg-accent);
        box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
    }
    .nav__dropdown a {
        color: var(--light-on-dark-color);
    }
    .nav__bio {
        margin: 0;
        padding: 15px 15px;
    }
    .nav__bio img {
        float: left;
        width: 30vw;
        height: 30vw;
        border: 1px solid black;
        box-shadow: 0 50px 100px rgba(192, 192, 230, 0.1);
        margin: 0 15px 15px 0;
    }
    .nav__bio p {
        margin: 0;
    }
    .nav__blog>li {
        padding: 5px 0 5px 15px;
    }
    .nav__blog span {
        font-weight: 700;
    }
    .nav__blog span:after {
        font-family: "Font Awesome 5 Free";
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        display: inline;
        font-size: 16px;
        line-height: 18px;
        padding: 0px 5px 0px 7px;
        content: "\f0da";
    }
    .nav__blog a {
        transition: color 0.2s ease-in-out;
    }
    .nav__blog a:hover {
        color: var(--light-on-dark-accent);
    }
    .nav__blog>li:first-child {
        padding-top: 15px;
    }
    .nav__blog>li:last-child {
        padding-bottom: 15px;
    }
    .nav__nav-items li:hover>.nav__dropdown.nav__links {
        display: flex;
        flex-direction: row;
    }
    .nav__nav-items li:hover>.nav__dropdown.nav__links>* {
        flex-basis: 25%;
        text-align: center;
        padding: 15px;
        font-size: 50px;
    }
    .nav__button {
        transition: color 0.2s ease-in-out;
    }
    .nav__button:hover {
        color: var(--light-on-dark-accent);
    }
}

@media screen and (min-width: 660px) {
    .nav__wrapper {
        perspective: 600px;
    }
    .nav__items>li>a {
        color: var(--light-on-dark-color);
        text-decoration: none;
        font-size: 20px;
        background: var(--dark-bg-color);
        padding: 10px 20px;
        display: inline-block;
        margin: 20px;
        border-radius: 5px;
    }
    .nav__wrapper ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .nav__items>li {
        position: relative;
        display: flex;
        justify-content: center;
    }
    .nav__dropdown {
        opacity: 0;
        position: absolute;
        overflow: hidden;
        padding: 20px;
        top: -20px;
        border-radius: 2px;
        transition: all 0.5s;
        transform: translateY(100px);
        will-change: opacity;
        display: none;
    }
    .nav__enter .nav__dropdown {
        display: block;
    }
    .nav__active .nav__dropdown {
        opacity: 1;
    }
    .nav__background {
        width: var(--dropdown-width);
        height: var(--dropdown-height);
        position: absolute;
        background: #fff;
        border-radius: 4px;
        box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
        transform-origin: 50% top;
        transform: rotateX(-30deg) translate(var(--dropdown-left), var(--dropdown-top));
        display: flex;
        justify-content: center;
        opacity: 0;
    }
    .nav__background.nav__open {
        transition: all 0.1s linear, opacity 0.1s linear, transform 0.2s ease-in-out;
    }
    .nav__background.nav__open.nav__active {
        transform: rotateX(0deg) translate(var(--dropdown-left), var(--dropdown-top));
        opacity: 1;
    }
    .nav__arrow {
        position: relative;
        /* z-index: 5; */
        height: 0;
        width: 0;
        /* box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1); */
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid white;
        border-top: 15px solid transparent;
        transform: translateY(-30px);
        /* width: 30px;
        height: 30px;
        display: block;
        background: white;
        transform: translateY(-50%) rotate(45deg); */
    }
    .nav__bio {
        min-width: 350px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        line-height: 1.7;
    }
    .nav__bio img {
        border: 1px solid grey;
        height: 80px;
        width: 80px;
        margin-top: 28px;
        margin-right: 20px;
    }
    .nav__blog {
        min-width: 200px;
    }
    .nav__blog li {
        padding: 10px 0;
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .nav__blog li:last-child {
        border-bottom: 0;
    }
    .nav__blog li span {
        display: block;
    }
    .nav__dropdown a {
        text-decoration: none;
        color: var(--light-on-dark-accent);
        transition: color 0.2s ease-in-out;
    }
    .nav__dropdown a:hover {
        text-decoration: none;
        color: black;
    }
    a.nav__button {
        font-size: 50px;
        background: transparent;
        display: block;
        color: var(--light-on-dark-accent);
        transition: color 0.2 ease-in-out;
    }
    a.nav__button:hover {
        color: black;
    }
}