.post__wrapper {
    font-size: inherit;   
}
.post__title {
    font-size: inherit;
}
.post__date {
    font-size: inherit;
}
.post__desc {
    font-size: inherit;
}
.post__divider {
    font-size: inherit;
}
.post__contents {
    font-size: inherit;
}