<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>
    {{!-- <title>neenjaw.</title> --}}

    {{# if description }}
    <meta name="description" content="{{ description }}">
    {{ else }}
    <meta name="description" content="{{ site.description }}">
    {{/ if }}
    <meta name="theme-color" content="#583154" />

    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/assets/ico/icon.ico?v=2" />
    <link rel="apple-touch-icon-precomposed" href="assets/ico/favicon-152.png?v=2">

    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,700" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/styles.min.css">
</head>