<div class="post__wrapper">
    <h1 class="post__title">{{ title }}</h1>
    <p class="post__desc">{{ description }}</p>
    <hr class="post__divider"> 
    <div class="post__contents">
        {{{ contents }}}
    </div>
</div>