{{> doc-head }}

<body>
    <div class="wrapper">
        {{> header }}

        <main>
            
            {{{ contents }}}

        </main>

        {{> footer }}
        
    </div>

    {{> script }}
</body>

</html>