{{> doc-head }}

<body>
    <div class="wrapper">
{{> header }}

        <main>
            
            <div>
{{{ contents }}}

                <div>
{{> post collections.lastPost.[0] }} 
{{> blog-nav collections.lastPost.[0] }}
                </div>
            </div>
            
        </main>

{{> footer }}
        
    </div>

    {{> script }}
</body>

</html>