{{> doc-head }}

<body>
    <div class="wrapper">
        {{> header }}

        <main>

            <h1>{{ title }}</h1>
            <p>{{ description }}</p>
            
            <hr class="blog__title-divider">

            {{{ contents }}}
            
            {{> blog-nav }}

        </main>

        {{> footer }}

    </div>

    {{> script }}
</body>

</html>
